* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  background: none;
}

:root {
  --background_color: #19191B;
  --active_color: #5454D4;
  --text_color: white;
  --container_lg: 1200px;
}

body {
  font-family: 'Noto Serif', serif;
  font-family: 'Nunito Sans', sans-serif;
  margin: 40px 24px 0 24px;
  background-color: var(--background_color);
  color: var(--text_color);
}

body header .container {
  width: 87.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 24px;
  position: fixed;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .logo {
  height: 34px;
  width: 115px;
}

body header .container img.open_menu {
  float: right;
}

body nav.mobile_menu {
  display: none;
}

body section.hero {
  display: block;
}

body section.hero h1 {
  font-size: 42px;
  line-height: 63px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 40px;
}

body section.hero blockquote {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 60px;
}

body section.hero a {
  color: var(--text_color);
  padding: 12px 21px 12px 21px;
  background-color: var(--active_color);
}

body section.hero a img {
  margin-left: 5px;
  margin-bottom: -8px;
}

body section.hero .components {
  width: 87.2%;
  margin: 0 auto;
  display: block;
}

body section.hero .components .comp1 {
  position: absolute;
  width: 61.07px;
  height: 18px;
  top: 646px;
  left: 24px;
}

body section.hero .components .comp2 {
  position: absolute;
  width: 65.44px;
  height: 75.07px;
  top: 975px;
  left: 24px;
}

body section.hero .components .comp3 {
  position: absolute;
  width: 35.7px;
  height: 43px;
  top: 622px;
  right: 41.3px;
}

body section.hero .components .comp4 {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 947px;
  right: 30px;
}

body section.hero .right_col {
  margin-top: 110px;
  margin-bottom: 120px;
}

body section.hero .right_col img {
  height: 370px;
  width: 350px;
}

body section.why_enver {
  display: block;
}

body section.why_enver h1 {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 20px;
  font-weight: 800;
}

body section.why_enver blockquote {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  font-weight: 400;
}

body section.why_enver iframe {
  height: 184px;
  width: 327px;
  margin-bottom: 100px;
}

body section.services h1 {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 100px;
  font-weight: 800;
}

body section.services ul {
  text-align: center;
}

body section.services ul li {
  width: 299px;
  margin: 0 auto 100px auto;
}

body section.services ul li img {
  width: 69px;
  height: 69px;
}

body section.services ul li h4 {
  font-size: 24px;
  line-height: 32.74px;
  font-weight: 600px;
}

body section.services ul li blockquote {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

body section.portfolio {
  margin-bottom: 100px;
}

body section.portfolio h1 {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 100px;
  font-weight: 800;
}

body section.portfolio .showcase {
  display: none;
  background: aliceblue;
}

body section.portfolio img.first {
  height: 246px;
  width: 327px;
  text-align: center;
  background-color: yellow;
}

body section.portfolio img.second {
  display: none;
  margin: 0 auto 0 auto;
}

body section.portfolio img.third {
  display: none;
  margin: 0 auto 0 auto;
}

body section.contact {
  margin-bottom: 200px;
}

body section.contact .left h1 {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 60px;
  font-weight: 800;
}

body section.contact a {
  color: var(--text_color);
  padding: 12px 20px 12px 20px;
  background-color: var(--active_color);
}

body footer {
  text-align: center;
}

body footer img {
  height: 34px;
  width: 115px;
  margin-bottom: 40px;
}

body footer ul li {
  padding-bottom: 40px;
}

body footer ul li a {
  color: var(--text_color);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

body footer .copyright p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 70px;
}

body nav {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--background_color);
  width: 60%;
  right: 0;
  height: 100vh;
  text-align: right;
}

body nav img {
  width: 24px;
  height: 24px;
  margin: 24px 24px 50px 0;
  cursor: pointer;
}

body nav li {
  margin: 0 24px 24px 0;
}

body nav li a {
  color: var(--text_color);
  font-size: 20px;
  font-weight: 400;
}

body nav li a:hover {
  color: var(--active_color);
  font-weight: 800;
}

body nav .contact_us {
  margin-top: 40px;
}

body nav .contact_us a {
  color: var(--text_color);
  font-size: 20px;
  font-weight: 400;
  padding: 12px 20px 12px 20px;
  margin: 30px 24px 0 0;
  background-color: var(--active_color);
  -webkit-transition: 300ms;
  transition: 300ms;
}

body nav .contact_us a:hover {
  background-color: var(--active_color);
  opacity: 80%;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  body .container {
    width: 90%;
    margin: 0 auto;
  }
  body header .container {
    position: relative;
    width: 691px;
    margin: 0 auto 0 auto;
  }
  body section.hero {
    text-align: center;
  }
  body section.hero .left_col {
    margin: 0 150px;
  }
  body section.hero .right_col {
    width: 691px;
    margin: 0 auto;
  }
  body section.hero .right_col img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
  }
  body section.hero .right_col .components {
    display: block;
    position: relative;
  }
  body section.hero .right_col .components .comp1 {
    position: absolute;
    top: 150px;
  }
  body section.hero .right_col .components .comp2 {
    position: absolute;
    top: 650px;
  }
  body section.hero .right_col .components .comp3 {
    position: absolute;
    top: 100px;
  }
  body section.hero .right_col .components .comp4 {
    position: absolute;
    top: 650px;
  }
  body section.why_enver {
    text-align: center;
    margin-top: 100px;
  }
  body section.why_enver .container .upper_part {
    margin: 0 150px;
  }
  body section.why_enver .container .down_part iframe {
    height: 368px;
    width: 691px;
  }
  body section.services {
    text-align: center;
  }
  body section.services .container {
    width: 691px;
  }
  body section.services .container h1 {
    margin: 0 150px 100px;
  }
  body section.services .container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 50px;
            column-gap: 50px;
    position: relative;
    margin: 0 auto;
  }
  body section.services .container ul li {
    border: solid 0.5px;
    border-radius: 15px;
    padding: 10px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  body section.services .container ul li:hover {
    border: none;
    background-color: var(--active_color);
  }
  body section.portfolio {
    text-align: center;
  }
  body section.portfolio .container {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  body section.portfolio .container h1 {
    margin: 0 0 50px;
  }
  body section.portfolio .container .showcase {
    width: 691px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (230px)[3];
        grid-template-columns: repeat(3, 230px);
    gap: 10px;
    background: none;
    height: 250px;
    margin: 0 auto;
    position: relative;
  }
  body section.portfolio .container .showcase img {
    display: block;
    height: 165px;
    width: 215px;
  }
  body section.portfolio .container .showcase .first {
    position: absolute;
    background: none;
    top: 0px;
    left: 0;
  }
  body section.portfolio .container .showcase .second {
    position: absolute;
    top: 50px;
    left: 238.5px;
  }
  body section.portfolio .container .showcase .third {
    position: absolute;
    top: 100px;
    right: 0px;
  }
  body section.contact {
    margin: 0;
  }
  body section.contact .container {
    width: 691px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 100px;
  }
  body section.contact .container h1 {
    margin: 0;
    padding: 0;
    width: 500px;
  }
  body section.contact .container a {
    display: block;
  }
  body footer {
    margin: 0 auto 50px;
  }
  body footer .container {
    width: 691px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 50% 30%;
        grid-template-columns: 20% 50% 30%;
    gap: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer .container img {
    padding: 0;
    margin: 0;
  }
  body footer .container .short_link {
    margin: 0;
    padding: 0;
  }
  body footer .container .short_link ul {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 20% 30% 50%;
        grid-template-columns: 20% 30% 50%;
    -webkit-column-gap: auto;
            column-gap: auto;
  }
  body footer .container .short_link ul li {
    padding: 0;
    margin: 0;
  }
  body footer .container .short_link ul li a {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  body footer .container .copyright p {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 1024px) {
  body .container {
    width: 78%;
    margin: 0, auto;
  }
  body header .container {
    width: 78%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .container .logo {
    margin: 0;
  }
  body header .container .logo a img {
    margin: 0;
    height: 40px;
    width: 132px;
  }
  body header .container img.open_menu {
    display: none;
  }
  body header .container .nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    background: none;
    height: 150px;
    width: 65%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .container .nav ul {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  body header .container .nav ul li {
    padding: 0;
    margin: 0;
  }
  body header .container .nav ul li a {
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    padding-right: 20px;
    width: auto;
    margin: 0;
  }
  body header .container .nav ul li a.current {
    color: var(--active_color);
  }
  body header .container .nav .contact_us {
    margin: 0;
  }
  body header .container .nav .contact_us a {
    margin: 0;
    font-size: 15px;
    background: none;
    border: solid var(--text_color) 0.5px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  body header .container .nav .contact_us a:hover {
    background-color: var(--active_color);
    border: none;
    font-weight: 400;
  }
  body header .container .nav img.close_menu {
    display: none;
  }
  body section.hero {
    margin-top: 50px;
  }
  body section.hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 78%;
    margin: 0 auto;
    text-align: left;
  }
  body section.hero .container .left_col {
    padding: 0;
    margin: 0 15% 0 0;
  }
  body section.hero .container .left_col h1 {
    margin: 0 0 30px 0;
    font-size: 60px;
    line-height: 60px;
  }
  body section.hero .container .left_col blockquote {
    font-size: 15px;
    line-height: 30px;
  }
  body section.hero .container .right_col {
    position: relative;
  }
  body section.hero .container .right_col .components .comp1 {
    position: absolute;
    margin: 0;
    top: 30px;
    left: -150px;
    width: 95px;
    height: 28px;
  }
  body section.hero .container .right_col .components .comp3 {
    position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    width: 51px;
    height: 60px;
  }
  body section.hero .container .right_col .components .comp2 {
    position: absolute;
    margin: 0%;
    top: 420px;
    left: -150px;
    width: 104.66px;
    height: 120.07px;
  }
  body section.hero .container .right_col .components .comp4 {
    position: absolute;
    margin: 0;
    top: 450px;
    right: 0;
    width: 50px;
    height: 50px;
  }
  body section.hero .container .right_col img.man {
    width: 410px;
    height: 500px;
    margin: 0;
    padding: 0;
  }
  body section.why_enver .container {
    width: 78%;
    margin: 0 auto;
  }
  body section.why_enver .container .upper_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin: 0 0 30px;
    place-content: space-between;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
  body section.why_enver .container .upper_part h1 {
    font-size: 50px;
    line-height: 60px;
    width: 50%;
  }
  body section.why_enver .container .upper_part blockquote {
    font-size: 18px;
    line-height: 20px;
    width: 50%;
  }
  body section.why_enver .container .down_part {
    margin: 0;
    padding: 0;
  }
  body section.why_enver .container .down_part iframe {
    width: 78%;
    padding: 0;
    margin-right: 0;
  }
  body section.services .container {
    width: 78%;
    margin: 0 auto 100px;
  }
  body section.services .container h1 {
    font-size: 50px;
    line-height: 60px;
  }
  body section.services .container ul {
    margin: 0;
    padding: 0;
    -ms-grid-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 33.3% 33.3% 33.3%;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    row-gap: 50px;
  }
  body section.services .container ul li {
    border: 0;
    margin: 0;
    padding: 0;
  }
  body section.services .container ul li h4 {
    font-size: 20px;
  }
  body section.services .container ul li blockquote {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0px 0;
  }
  body section.services .container ul li:hover {
    background: none;
  }
  body section.portfolio .container {
    width: 78%;
    margin: 0 auto;
    text-align: left;
  }
  body section.portfolio .container h1 {
    font-size: 50px;
    line-height: 60px;
  }
  body section.portfolio .container .showcase {
    padding: 0;
    margin: 0;
    width: 78%;
    position: relative;
  }
  body section.portfolio .container .showcase img {
    height: 210px;
    width: 260px;
  }
  body section.portfolio .container .showcase .first {
    position: absolute;
    left: 0;
  }
  body section.portfolio .container .showcase .second {
    position: absolute;
    left: 45%;
  }
  body section.portfolio .container .showcase .third {
    position: absolute;
    left: 95%;
  }
  body section.contact .container {
    width: 78%;
    padding: 0;
  }
  body footer .container {
    width: 78%;
    padding: 0;
  }
  body footer .container .copyright {
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */