*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
}

:root{
    --background_color: #19191B;
    --active_color: #5454D4;
    --text_color: white;

    --container_lg: 1200px;
}

body{
    font-family: 'Noto Serif', serif;
    font-family: 'Nunito Sans', sans-serif;
    //margin: 40px 24px 0 24px;
    background-color: var(--background_color);
    color: var(--text_color);
    padding: 40px 24px 0 24px;

    header{
        top: 0;
        position: fixed;
        padding: 0;
        margin: 0;
        height: 80px;
        width: 100vw;
        display: block;
        //position: relative;
        //background-color: var(--background_color);
        background: red;
        z-index: 999;
        .container{
            //background-color: white;
            position: relative;
            margin: 0;
            padding: 0;
            width: 87.2%;
            display: flex;
            top: 24px;

            //grid-template-columns: 80% 20%;
            
            place-content: space-between;
            //margin-bottom: 80px;
            align-items: center;

            .logo{
                //display: block;
                height: 34px;
                width: 115px;
            }

            img.open_menu{
                float: right;
            }
        }
    }

    nav.mobile_menu{
        display: none;
    }

    section.hero{
        display: block;

        h1{
            font-size: 42px;
            line-height: 63px;
            font-weight: 800;
            margin-top: 100px;
            margin-bottom: 40px;
        }
        blockquote{
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            padding-bottom: 60px;
        }

        a{
            color: var(--text_color);
            //border: solid;
            padding: 12px 21px 12px 21px;
            background-color: var(--active_color);

            img{
                margin-left: 5px;
                margin-bottom: -8px;
            }
        }

        .components{
            width: 87.2%;
            margin: 0 auto;
            display: block;
            //position: absolute;

            .comp1{
                position: absolute;
                width: 61.07px;
                height: 18px;
                top: 646px;
                left: 24px;
            }
            .comp2{
                position: absolute;
                width: 65.44px;
                height: 75.07px;
                top: 975px;
                left: 24px;
            }
            .comp3{
                position: absolute;
                width: 35.7px;
                height: 43px;
                top: 622px;
                right: 41.3px;
            }
            .comp4{
                position: absolute;
                width: 39px;
                height: 39px;
                top: 947px;
                right: 30px;
            }
        }

        .right_col{
            margin-top: 110px;
            margin-bottom: 120px;
            img{
                height: 370px;
                width: 350px;
            }
        }
    }

    section.why_enver{
        display: block;

        h1{
            font-size: 36px;
            line-height: 54px;
            margin-bottom: 20px;
            font-weight: 800;
        }

        blockquote{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 40px;
            font-weight: 400;
        }

        iframe{
            height: 184px;
            width: 327px;
            margin-bottom: 100px;
        }
    }

    section.services{
        h1{
            font-size: 36px;
            line-height: 54px;
            margin-bottom: 100px;
            font-weight: 800;
        }

        ul{
            text-align: center;

            li{
                width: 299px;
                margin: 0 auto 100px auto;
                img{
                    width: 69px;
                    height: 69px;
                }

                h4{
                    font-size: 24px;
                    line-height: 32.74px;
                    font-weight: 600px;
                }

                blockquote{
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 400;
                }
            }
        }
    }

    section.portfolio{
        margin-bottom: 100px;
        h1{
            font-size: 36px;
            line-height: 54px;
            margin-bottom: 100px;
            font-weight: 800;
        }

        .showcase{
            display: none;
            background: aliceblue;
        }

        img.first{
            height: 246px;
            width: 327px;
            text-align: center;
            //display: block;
            //margin: 0 auto 100px auto;
            background-color: yellow;
            
        }

        img.second{
            display: none;
            margin: 0 auto 0 auto;
        }

        img.third{
            display: none;
            margin: 0 auto 0 auto;
        }
    }

    section.contact{
        margin-bottom: 200px;
        .left{
            h1{
                font-size: 36px;
                line-height: 54px;
                margin-bottom: 60px;
                font-weight: 800;
            }
        }

        a{
            color: var(--text_color);
            padding: 12px 20px 12px 20px;
            background-color: var(--active_color);
            
        }
    }

    footer{
        text-align: center;
        //margin-bottom: 50px;

        img{
            height: 34px;
            width: 115px;
            margin-bottom: 40px;
        }

        ul{
            li{
                padding-bottom: 40px;
                a{
                    color: var(--text_color);
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 700;
                }
            }
        }

        .copyright{
            p{
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                margin-bottom: 70px;
            }
        }

    }

    nav{
        display: none;
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: var(--background_color);
        width: 60%;
        right: 0;
        height: 100vh;
        text-align: right;

        img{
            width: 24px;
            height: 24px;
            margin: 24px 24px 50px 0;
            cursor: pointer;

        }

        li{
            margin: 0 24px 24px 0;

            a{
                color: var(--text_color);
                font-size: 20px;
                font-weight: 400;

                &:hover{
                    color: var(--active_color);
                    font-weight: 800;
                }
            }
        }

        .contact_us{
            margin-top: 40px;
            a{
                color: var(--text_color);
                font-size: 20px;
                font-weight: 400;
                padding: 12px 20px 12px 20px;
                margin: 30px 24px 0 0;
                background-color: var(--active_color);
                transition: 300ms;

                &:hover{
                    background-color: var(--active_color);
                    opacity: 80%;
                    font-weight: 800;
                }
            }
        }
        
    }

    @media only screen and (min-width: 768px){
        margin: 0;
        padding: 0;

        .container{
            width: 90%;
            margin: 0 auto;
        }

        header{
            //display: fixed;
            //position: relative;

            .container{
                position: relative;
                width: 691px;
                margin: 0 auto 0 auto;
            }
        }

        section.hero{
            text-align: center;

            .left_col{
                margin: 0 150px;
            }

            .right_col{
                width: 691px;
                margin: 0 auto;
                img{
                    height: fit-content;
                    width: fit-content;
                    margin-top: 50px;
                }

                .components{
                    display: block;
                    position: relative;

                    .comp1{
                        position: absolute;
                        top: 150px;
                    }

                    .comp2{
                        position: absolute;
                        top: 650px;
                    }

                    .comp3{
                        position: absolute;
                        top: 100px;
                    }

                    .comp4{
                        position: absolute;
                        top: 650px;
                    }
                }
            }
        }

        section.why_enver{
            text-align: center;
            margin-top: 100px;

            .container{
                .upper_part{
                    margin: 0 150px;
                }
                
                .down_part{
                    iframe{
                        height: 368px;
                        width: 691px;
                    }
                }
            }
        }

        section.services{
            text-align: center;

            .container{
                width: 691px;

                h1{
                    margin: 0 150px 100px;

                }

                ul{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 50px;
                    position: relative;
                    margin: 0 auto;

                    li{
                        //margin: 0 20px 100px 20px;
                        border: solid 0.5px;
                        border-radius: 15px;
                        padding: 10px;
                        transition: 300ms;

                        &:hover{
                            border: none;
                            background-color: var(--active_color);
                        }
                    }
                }
            }
        }

        section.portfolio{
            text-align: center;
            .container{
                display: block;
                margin: 0 auto;
                width: 90%;

                h1{
                    margin: 0 0 50px;
                }

                .showcase{
                    width: 691px;
                    display:grid;
                    grid-template-columns: repeat(3, 230px);
                    gap: 10px;
                    background: none;
                    height: 250px;
                    margin: 0 auto;
                    position: relative;

                    img{

                        display:block;
                        height: 165px;
                        width: 215px;
                    }

                    .first{
                        position: absolute;
                        background: none;
                        top: 0px;
                        left: 0;
                    }

                    .second{
                        position: absolute;
                        top: 50px;
                        left: 238.5px;
                        //margin: 0 auto;
                    }

                    .third{
                        position: absolute;
                        top: 100px;
                        right: 0px;
                        //margin: 0 auto;
                    }
                }
            }

        }

        section.contact{
            margin: 0;
            .container{
                width: 691px;
                display: flex;
                place-content: space-between;
                align-items: center;
                margin: 0 auto 100px;

                h1{
                    margin: 0;
                    padding: 0;
                    width: 500px;
                }

                a{
                    display: block;
                }
            }
        }

        footer{
            margin: 0 auto 50px;

            .container{
                width: 691px;
                display: grid;
                grid-template-columns: 20% 50% 30%;
                gap: auto;
                align-items: center;

                img{
                    padding: 0;
                    margin: 0;
                }

                .short_link{
                    margin: 0;
                    padding: 0;
                    ul{
                        display: grid;
                        align-items: center;
                        grid-template-columns: 20% 30% 50%;
                        column-gap: auto;

                        li{
                            padding: 0;
                            margin: 0;

                            a{
                                font-size: 14px;
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                }

                .copyright{
                    p{
                        font-size: 14px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1024px){
        .container{
            width: 78%;
            margin: 0, auto;
        }

        header{
            
            .container{
                position: relative;
                width: 78%;
                height: 150px;
                display: flex;
                place-content: space-between;
                align-items: center;

                .logo{
                    margin: 0;
                    a img{
                        margin: 0;
                        height: 40px;
                        width: 132px;
                    }
                }

                img.open_menu{
                    display: none;
                }

                nav{
                    position: absolute;
                    display: flex;
                    place-content: space-between;
                    background: none;
                    height: 150px;
                    width: 65%;
                    align-items: center;
                    margin: 0;

                    ul{
                        position: relative;
                        width: 65%;
                        //gap: auto;
                        display: flex;
                        place-content: space-between;
                        align-items: center;
                        margin: 0;
                        padding: 0;

                        li{
                            padding: 0;
                            margin: 0;
                            a{
                                text-align: right;
                                font-size: 15px;
                                font-weight: 400;
                                padding-right: 20px;
                                width: auto;
                                margin: 0;
                            }

                            a.current{
                                color: var(--active_color);
                            }
                        }
                    }

                    .contact_us{
                        position: relative;
                        margin: 0;
                        display: block;
                        a{
                            margin: 0;
                            font-size: 15px;
                            background: none;
                            border: solid var(--text_color) 0.5px;
                            transition: 300ms;

                            &:hover{
                                background-color: var(--active_color);
                                border: none;
                                font-weight: 400;
                            }
                        }
                    }


                    img.close_menu{
                        display: none;
                    }
                }
            }
        }

        section.hero{
            margin-top: 50px;
            .container{
                position: relative;
                display: flex;
                place-content: space-between;
                align-items: center;
                width: 78%;
                margin: 0 auto;
                text-align: left;

                .left_col{
                    //width: 38%;
                    padding: 0;
                    margin: 0;

                    h1{
                        margin: 0 0 30px 0;
                        font-size: 60px;
                        line-height: 60px;
                    }

                    blockquote{
                        font-size: 15px;
                        line-height: 30px;
                        margin-right: 12em;
                    }
                }

                .right_col{
                    position: relative;
                    //width: 50%;
                    margin: 0;
                    padding: 0;

                    .components{
                        .comp1{
                            position: absolute;
                            margin: 0;
                            top: 30px;
                            left: -150px;
                            width: 95px;
                            height: 28px;
                        }

                        .comp3{
                            position: absolute;
                            margin: 0;
                            top: 0px;
                            right: 0px;
                            width: 51px;
                            height: 60px;
                        }

                        .comp2{
                            position: absolute;
                            margin: 0%;
                            top: 420px;
                            left: -150px;
                            width: 104.66px;
                            height: 120.07px;
                        }

                        .comp4{
                            position: absolute;
                            margin: 0;
                            top: 450px;
                            right: 0;
                            width: 50px;
                            height: 50px;
                        }
                    }

                    img.man{
                        width: 410px;
                        height: 500px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        section.why_enver{
            .container{
                width: 78%;
                margin: 0 auto;
                
                .upper_part{
                    display: flex;
                    text-align: left;
                    margin: 0 0 30px;
                    place-content: space-between;
                    align-items: top;

                    h1{
                        font-size: 50px;
                        line-height: 60px;
                        width: 50%;
                        //margin-right: ;
                    }

                    blockquote{
                        font-size: 18px;
                        line-height: 20px;
                        width: 50%;
                    }
                }

                .down_part{
                    margin: 0;
                    padding: 0;
                    //width: 78%;
                    iframe{
                        width: 78%;
                        //height: 46%px;
                        padding: 0;
                        margin-right: 0;
                    }
                }
            }
        }

        section.services{
            .container{
                width: 78%;
                margin: 0 auto 100px;

                h1{
                    font-size: 50px;
                    line-height: 60px;
                }

                ul{
                    //width: 78%;
                    margin: 0;
                    padding: 0;
                    grid-template-columns: 33.3% 33.3% 33.3%;
                    column-gap: 50px;
                    row-gap: 50px;

                    li{
                        border: 0;
                        margin: 0;
                        padding: 0;

                        h4{
                            font-size: 20px;
                        }

                        blockquote{
                            font-size: 14px;
                            line-height: 16px;
                            padding: 10px 0px 0;
                        }

                        &:hover{
                            background: none;

                        }
                    }
                }
            }
        }

        section.portfolio{
            .container{
                width: 78%;
                margin: 0 auto;
                text-align: left;

                h1{
                    font-size: 50px;
                    line-height: 60px;
                }

                .showcase{
                    padding: 0;
                    margin: 0;
                    width: 78%;
                    position: relative;

                    img{
                        height: 210px;
                        width: 260px;
                    }
                    .first{
                        position: absolute;
                        left: 0;
                    }

                    .second{
                        position: absolute;
                        left: 45%;
                    }

                    .third{
                        position: absolute;
                        left: 95%;
                        //right: 0;
                    }
                }
            }
        }
        
        section.contact{
            .container{
                width: 78%;
                padding: 0;
                //margin: 0;
            }
        }

        footer{
            .container{
                width: 78%;
                padding: 0;
                //margin: 0;

                .copyright{
                    text-align: right;
                }
            }
        }
    }
}